---
import '../styles/global.css';

const pageTitle = 'Home';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<base href={import.meta.env.BASE_URL + "/"} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<a class="nav-item-active" href="">{pageTitle}</a>
		<a class="nav-item" href="about">About</a>
		<a class="nav-item" href="blog">Blog</a>
		<p>BASE_URL: {import.meta.env.BASE_URL}</p>

		<h1>{pageTitle}</h1>
		<h2>Hello World</h2>
	</body>
</html>
